<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LinkedinSuiteS">
  <test thread-count="5" name="LinkedinTestT">
    <classes>
      <class name="com.linkedin1.qa.tests.LoginPageTest"/>
    </classes>
  </test> <!-- LinkedinTestT -->
</suite> <!-- LinkedinSuiteS -->
